<section class="block container block-feature">
    <header class="block__header">
        <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
        <p class="block__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati perspiciatis rerum aliquid natus itaque. Cum autem iure distinctio ab ratione!</p>
    </header>
    <div class="block-feature__content">
        <article class="feature">
            <div class="grid grid--1x2">
                <div class="feature__content">
                    <div class="media">
                        <div class="media__icon">
                            <span class="icon-container icon-container--primary">
                                <svg class="icon icon--primary">
                                    <use xlink:href="images/sprite.svg#easy"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="media__content">
                            <div class="media__header">
                                <h3 class="media__heading feature__heading">Super Easy to Use</h3>
                            </div>
                            <div class="media__body">
                                <p class="media__description feature__description">Lorem ipsum, dolor sit amet
                                    consectetur
                                    adipisicing elit. Labore
                                    similique
                                    ea cumque necessitatibus vero quibusdam.</p>
                            </div>
                        </div>
                    </div>
                    <a class="link-arrow" href="#">Learn more</a>
                </div>
                <img class="feature__image" src="images/easy.jpg" alt="">
            </div>
        </article>
        <article class="feature feature--reverse">
            <div class="container grid grid--1x2">
                <div class="feature__content">
                    <div class="media">
                        <div class="media__icon">
                            <span class="icon-container icon-container--primary">
                                <svg class="icon icon--primary">
                                    <use xlink:href="images/sprite.svg#computer"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="media__content">
                            <div class="media__header">
                                <h3 class="media__heading feature__heading">Simply Fast website</h3>
                            </div>
                            <div class="media__body">
                                <p class="media__description feature__description">Lorem ipsum, dolor sit amet
                                    consectetur adipisicing elit. Molestiae, quidem id. Quos dolorum alias saepe sed
                                    eligendi cumque fugiat nulla!</p>
                            </div>
                        </div>
                    </div>
                    <a class="link-arrow" href="#">Learn more</a>
                </div>
                <img class="feature__image" src="images/fast.jpg" alt="">
            </div>
        </article>
        <article class="feature">
            <div class="container grid grid--1x2">
                <div class="feature__content">
                    <div class="media">
                        <div class="media__icon">
                            <span class="icon-container icon-container--primary">
                                <svg class="icon icon--primary">
                                    <use xlink:href="images/sprite.svg#settings"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="media__content">
                            <div class="media__header">
                                <h3 class="media__heading feature__heading">WordPress made easy</h3>
                            </div>
                            <div class="media__body">
                                <p class="media__description feature__description">Lorem ipsum, dolor sit amet
                                    consectetur
                                    adipisicing elit. Labore
                                    similique
                                    ea cumque necessitatibus vero quibusdam.</p>
                            </div>
                        </div>
                    </div>
                    <a class="link-arrow" href="#">Learn more</a>
                </div>
                <img class="feature__image" src="images/wordpress.jpg" alt="">
            </div>
        </article>
        <article class="feature feature--reverse">
            <div class="container grid grid--1x2">
                <div class="feature__content">
                    <div class="media">
                        <div class="media__icon">
                            <span class="icon-container icon-container--primary">
                                <svg class="icon icon--primary">
                                    <use xlink:href="images/sprite.svg#clock"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="media__content">
                            <div class="media__header">
                                <h3 class="media__heading feature__heading">24/7 Expert Support</h3>
                            </div>
                            <div class="media__body">
                                <p class="media__description feature__description">Lorem ipsum, dolor sit amet
                                    consectetur adipisicing elit. Molestiae, quidem id. Quos dolorum alias saepe sed
                                    eligendi cumque fugiat nulla!</p>
                            </div>
                        </div>
                    </div>
                    <a class="link-arrow" href="#">Learn more</a>
                </div>
                <img class="feature__image" src="images/support.jpg" alt="">
            </div>
        </article>
    </div>
</section>