<section class="block">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">What our Customer are Saying</h2>
            <p class="block__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, qui.</p>
        </header>
        <div class="container testemonial">
            <div class="card grid grid--1x2">
                <header class="card__header testemonial__image">
                    <img src="/images/testimonial.jpg" alt="A happy smiling customer.">
                    <span class="icon-container icon-container--accent">
                        <svg class="icon icon--white icon--small">
                            <use xlink:href="images/sprite.svg#quotes"></use>
                        </svg>
                    </span>
                </header>
                <div class="quote">
                    <blockquote class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Provident quia
                        ut
                        laborum delectus expedita magnam quaerat et in, at reiciendis perspiciatis consequuntur
                        ratione
                        aperiam nam
                    </blockquote>
                    <div class="quote__footer">
                        <div class="media">
                            <div class="media__icon">
                                <svg class="icon quote__icon">
                                    <use xlink:href="images/sprite.svg#line"></use>
                                </svg>
                            </div>
                            <div class="media__content">
                                <div class="media__header">
                                    <h3 class="media__heading quote__name">Jhone Lumeo</h3>
                                </div>
                                <div class="media__body">
                                    <p class="media__description quote__organization">Mosh Company ceo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
