<div class="collapsible">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Product</h2>
        <svg class="icon collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas eum laudantium incidunt quod
            beatae placeat distinctio obcaecati corporis expedita!</p>
    </div>
</div>

<div class="collapsible">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Product</h2>
        <svg class="icon collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas eum laudantium incidunt quod
            beatae placeat distinctio obcaecati corporis expedita!</p>
    </div>
</div>

<script src="js/main.js"></script>