<footer class="block block--dark footer">
    <div class="container footer__content">
        <section class="collapsible footer__section">
            <header class="collapsible__header footer__header">
                <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
                <svg class="icon collapsible__chevron footer__icon">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
                <ul class="list footer__list collapsible__content">
                    <li class="footer__item">WordPress Hosting</li>
                    <li class="footer__item">Free Automated</li>
                    <li class="footer__item">Domain Names</li>
                    <li class="footer__item">Monthly Web Hosting</li>
                </ul>
        </section>
        
        <section class="collapsible footer__section">
            <header class="collapsible__header footer__header">
                <h2 class="collapsible__heading footer__heading">COMPANY</h2>
                <svg class="icon collapsible__chevron footer__icon">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
                <ul class="list footer__list collapsible__content">
                    <li class="footer__item">About</li>
                    <li class="footer__item">Affiliantes</li>
                    <li class="footer__item">Blog</li>
                    <li class="footer__item">Careers</li>
                    <li class="footer__item">Community</li>
                    <li class="footer__item">News</li>
                    <li class="footer__item">Green Hosting</li>
                </ul>
         
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header footer__header">
                <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
                <svg class="icon collapsible__chevron footer__icon">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
       
                <ul class="list footer__list collapsible__content">
                    <li class="footer__item">Contact</li>
                    <li class="footer__item">Knowledge Base</li>
                    <li class="footer__item">Forums</li>
                    <li class="footer__item">System Status</li>
                    <li class="footer__item">Web Hosting</li>
                    <li class="footer__item">DreamCompute</li>
                </ul>
            
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header footer__header">
                <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
                <svg class="icon collapsible__chevron footer__icon">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
       
                <ul class="list footer__list collapsible__content">
                    <li class="footer__item">Domain Checker</li>
                    <li class="footer__item">Domain Transfer</li>
                    <li class="footer__item">Free Domain</li>
                    <li class="footer__item">XYZ Domain</li>
                    <li class="footer__item">Cheap SSL Certificate</li>
                </ul>
            
        </section>
        <div class="footer__companyLogo">
            <img class="footer__logo" src="images/logo.png" alt="">
            <p class="footer__copyright">Copyright &copy; 2020 mosh</p>
        </div>
    </div>
</footer>