<div class="quote">
    <blockquote class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quia ut
        laborum delectus expedita magnam quaerat et in, at reiciendis perspiciatis consequuntur ratione aperiam nam
        aliquid ea vero fuga consectetur pariatur velit tempora fugit eos! Voluptatibus, culpa facilis?
        Exercitationem necessitatibus soluta laboriosam iste aliquid, ratione minima laudantium? Libero, suscipit
        debitis?</blockquote>

    <div class="quote__footer">
        <div class="media">
            <div class="media__icon">
                <svg class="icon quote__icon">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__content">
                <div class="media__header">
                    <h3 class="media__heading quote__name">Jhone Lumeo</h3>
                </div>
                <div class="media__body">
                    <p class="media__description quote__organization">Mosh Company ceo</p>
                </div>
            </div>
        </div>
    </div>
</div>